@import "./btn";
@import "./element-ui";
@import "./media";
@import "./mixin";
@import "./setting";

@import "./modules/account";

*{
  margin: 0;
  padding: 0;
}

.wrapper{
  width: 100%;
  height: 100%;

  background: red;
  color: yellow;
}
